 body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,#0a0a0a,#595454)
 }
 .cal{
    background: transparent;
    padding: 10px;
    border: none;
    /* border: 2px,solid,rgb(0, 0, 0); */
    border-radius: 16px;
    box-shadow: 6px 4px 4px 6px rgba(15, 13, 13, 0.5);
 }
 input{
    width: 280px;
    border: none;
     padding:3px;
     border-radius: 10px;
     /* padding-left: 29px; */
    margin: 10px;
    background: transparent;
    text-align: right;
    font-size: 40px;
    box-shadow: 3px 2px 8px rgb(15, 15, 15);
    cursor: none;
 }
 input::placeholder{
    color: rgb(193, 205, 205);
    cursor: pointer;
 }
 button{
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    background: transparent;
    margin: 10px;
    font-size: 20px;
    color: rgb(233, 233, 233);
    cursor: pointer;
    box-shadow: -9px -9px 15px rgba(253, 253, 253, 0.1);
 }
 button:hover{
   color: rgb(0, 0, 0);
   background-color: rgb(246, 246, 246);
 }
 .equ{
   background-color: rgb(201, 127, 23);
   color: aliceblue;
 }